* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#020A18;
}
.conteiner {
    margin: 0 auto;
    width: 1205px;

}
.header-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 16px;
}

.header-nav {
    display: flex;
    justify-content: center;
}
.header-link:hover {
    color: #3A68B8;
}

.header {
    margin-bottom: 160px;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title-main {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}
.dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}
.main-button {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    margin-left: 20px;
}
.fa-play {
    margin-left: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.main-right, .main-left {
    width: 64%;
}
.main-right {
    display: flex;
    justify-content: end;
}
.main {
    margin-bottom: 200px;
}

.logo {
    margin-bottom: 157px;
}
.title-frame1 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 30px;
}
.main-right-frame1 {
    padding-top: 117px;

}
.dsc-frame1 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 50px;
    width: 460px;
}
.frame1-button {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    margin-bottom: 50px;
}
.main-right-frame1, .main-left-frame1 {
    width: 47%;
}
.frame1 {
    margin-bottom: 264px;
}
.grid {
    display: grid;
    grid-template-columns: 362px 362px 362px;
    gap: 30px;
}
.item {
    border-radius: 10px;
    background: #132035;
    min-height: 389px;

}
.item4{
    grid-column: 1 / 3;
    grid-row:  2 / 4;
    
}
.title-frame2 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    margin-bottom: 30px;
    margin-left:30px;
    margin-right: 30px;
    opacity: 0.7;
}

.text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
}
.grid-img {
    margin: 30px 132px;
}
.grid-img-item4 {
    margin: 60px 194px;
}
.text {
    margin-bottom: 30px;
    margin-left:30px;
    margin-right: 30px;
}
.title-frame2-item4 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    opacity: 0.7;
    margin: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
.text-item4 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 144px;
    margin-left: 30px;
    margin-right: 30px;
}
.frame2{
    margin-bottom: 243px;
}
.title-frame3 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 40px;
}
.text-frame3 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 20px;
    width: 460px;
}
.left-frame3 , .right-frame3 {
    width: 47%;
}
.text-frame3 {
    justify-content: flex-end;
}
.frame3{
    margin-bottom: 221px;
}
.title-footer {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}
.fa-regular, .fa-solid {
    color: #FFF;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}
.dsc-footer {
    color: var(--ffffff, #FFF);
    font-family: Roboto;    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;

}
.footer-text {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
    width: 261px;
}
.flex-footer {
    display: flex;
    width: 1146px;
    justify-content: space-between;
    align-items: flex-start;
}
.email {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 33px;
}
.fa-brands {
    color:#FFF;
    padding-right: 24px;
    opacity: 0.6;
}
